<form method="post" action="{{ path('app_video_delete', {'id': video.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet vidéo?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
	<button class="btn btn-primary align-center">Supprimer</button>
</form>