{% extends 'base.html.twig' %}
 {% block title %} Editer une video
 {% endblock %}

 {% block body %}
 <style>
    body {
        background-color: #333;
        color: #fff;
    }
    </style>
 <div class="row">
 <div class="col-md-6 mx-auto">
<h1 align="center">Editer une Video</h1> 
 {{ include('video/_form.html.twig', {'submitButtonText': 'Editer une Video'}) }}
 <a href="{{ path('app_home') }}">Retour</a>
 </div>
 </div>
 {% endblock %}